<tr>
  <td> <%= f.text_field :description, class: 'form-control' %></td>
  <td> <%= f.check_box :done %> </td>
  <td> <%= link_to_remove_association "Remover", f, class: 'btn btn-danger' %> </td>
</tr>